@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;0,700;1,100&display=swap');
:root {
    --bordaGradiente: linear-gradient(90deg,rgba(255,255,255,1),rgba(227,102,52,89), rgba(255,255,255,1)) 1;
    --bordaGradienteVerde: linear-gradient(90deg,rgba(255,255,255,1),rgba(52, 227, 199, 89), rgba(255,255,255,1)) 1;
    --corPrimaria: #E6E216;
    --corSecundaria: #E36634;
    --corTerciaria : #E3774B;
    --corQuartenaria: #34E3C7;
    --fontePrimaria:'Overpass', sans-serif;
    --bordas: 1.5px solid 

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontePrimaria);
}
main {
    margin-top: 200px;
}
.titulo {
    width: 100%;
    height: auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}
.titulo h1 {
    width: 40%;
    text-align: center;
}
.buscas {
    width: 100%;
    height: auto;
    display: flex;
}
.buscas label {
    font-size: 1.3rem;
}
.cardCidades {
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cardsDestino {
    margin-top: 50px;
}
.card img {
    min-width: 278px;
    min-height: 190px;
}
.paginacao {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}